{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'pnl-right',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div class="pnl-right__img-wrap">
    <div class="pnl-right__img-wrap--mobile">
     {{ content.field_ourpups_img[0] }}
    </div>
    <div class="pnl-right__img-wrap--desktop">
      {{ content.field_ourpups_img }}
    </div>
  </div>
 
  <div class="pnl-right__text">
    <div class="pnl-right__text-content-wrap">
      <div class="pnl-right__text-content-title">
        <h2 class="heading heading-second heading-second--taller">
          {{ label }}
        </h2>
      </div>

      <div class="pnl-right__text-content-body">
        {{ content.body }}
      </div>
    </div>
  </div>

  <div class="pnl-right__bcg bcg"></div>

</article>
