{#
/**
 * @file
 * Theme override to display a node.
 *
 * 05-content/_content_pups-expected.scss
 */
#}
{%
  set classes = [
    'node',
    'pups-expected-content',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div class="pups-expected-content__title">
    <div class="heading heading-second heading-second--taller">
      {{ label }}
    </div>
  </div>

  <div class="pups-expected-content__img">
    {{ content.field_expected_pair_img }}
  </div>
  
  <div class="pups-expected-content__body">
    {{ content.body }}
  </div>

  <div class="pups-expected-content__bcg bcg"></div>

</article>
