{#
/**
 * @file
 * Theme override to display a node.
 *
 */
#}
{%
  set classes = [
    'node',
    'news',
    'panel-wide',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% set bodytext = content.body|render|striptags %}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div class="panel-wide__img wow slideInLeft" data-wow-duration="1.2s">
    {{ content.field_news_img.0 }}
  </div>

  <div class="panel-wide__wrapper wow slideInUp" data-wow-duration="1s">

    <h2 class="heading heading-second u-margin-top">
      {{ label }}
    </h2>

    <div class="panel-wide__content">
      {{ bodytext|length > 130 ? bodytext|slice(0, 130) ~ '...' : bodytext }}
    </div>

    <div class="read-more u-flex-align-right">
      {% if bodytext|length > 130 %}
        <a href="{{ url }}" class="read-more__link">{{ "Lees meer"|t }}</a>
      {% endif %}
    </div>

  </div>

  <div class="panel-wide__bcg wow slideInUp" data-wow-duration="1s"></div> 

</article>