{#
/**
 * @file
 * Theme override to display a node.
 *
 */
#}
{%
  set classes = [
    'node',
    'aboutus',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}>
  <div class="aboutus__img wow slideInLeft" data-wow-duration="1s"">
    {{ content.field_aboutme_img }}
  </div>

  <div class="aboutus__text wow slideInUp" data-wow-duration="1s"">
    <h2 class="heading heading-second heading-second--taller">
      {{ label }}
    </h2>

  
    <div{{ content_attributes.addClass('node__content') }}>
      {{ content.body }}
    </div>

    <div class="read-more">
      <a class="read-more__link" href="{{ url }}">Lees meer</a>
    </div>
  </div>

  <div class="aboutus__bcg"></div>

  {# 
  /**
  * The HTML code
  * <div class="aboutus__img">
  *      <img src="{{ base_path ~ directory }}/images/about-us.JPG" alt="Bullensteeg Marleen">
  *  </div>
  *
  *  <div class="aboutus__text">
  *      <h2 class="heading heading-second heading-second--taller">
  *          Franse Bulldoggen, mijn leven.
  *      </h2>
  *      <p>
  *          Mijn naam is Halleng Marleen en de Franse Bulldog is in mijn leven gekomen in 2007 tijdens een periode dat ik ziek geworden
  *          ben. Ik had gezelschap nodig en daar is dit ras zeer geschikt voor.
  *      </p>
  *      <p>
  *          Ondertussen zijn we vele jaren later en zijn er een aantal bulldogjes bij ons gezin komen wonen.
  *      </p>
  *      <div class="read-more">
  *          <a class="read-more__link" href="#">Lees meer</a>
  *      </div>
  *  </div> 
  */
  #}

</article>
