{#
/**
 * @file
 * Theme override to display a node.
 *
 */
#}
{%
  set classes = [
    'node',
    'sub-footer__contact-details',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div class="sub-footer__name">
    {{ content.field_aboutme_name }}
  </div>

  <div class="sub-footer__phone">
    <a class="phone btn--green" href="tel:{{ content.field_aboutme_phone }}"> {{ content.field_aboutme_label_phone}}
    </a>
    <div class="phone--desktop">{{ content.field_aboutme_label_phone}}</div>
  </div>

  <div class="sub-footer__social">
    <a href="{{ content.field_aboutme_fb }}" target="_blank" class="social-link"><i class="fab fa-facebook-square"></i></a>
  </div>
  
</article>
