{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'pet-panel',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div class="pet-panel__image wow slideInUp" data-wow-duration="1s">
    {{ content.field_ourpet_img }}
  </div>

  <div class="pet-panel__body  wow slideInUp" data-wow-duration="1.5s">
    <div class="pet-panel__body-name">
      {{ label }}
    </div>
    <div class="pet-panel__body-born-on">
      {{ "Geboren op: "}}{{ content.field_ourpets_born }}
    </div>
    <div class="pet-panel__body-readmore">
      <a href="{{ url }}" class="read-more__link">Lees meer</a>
    </div>
  </div>

  <div class="pet-panel__bcg bcg"></div>
</article>
