<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

                          <div class="navigation__background"></div>

                          <!-- In Drupal main-menu     -->
                          <nav class="navigation__nav">

                              <div class="navigation__items">
                                  <ul class="navigation__list">
                                      <li class="navigation__item">
                                          <a href="{{ path('<front>') }}" class="navigation__link">{{ "Home"|t }}</a>
                                      </li>
                                      <li class="navigation__item">
                                          <a href="{{ base_path }}onze-teven" class="navigation__link">{{ "Teven"|t }}</a>
                                      </li>
                                      <li class="navigation__item">
                                          <a href="{{ base_path }}onze-reuen" class="navigation__link">{{ "Reuen"|t }}</a>
                                      </li>
                                      <li class="navigation__item">
                                          <a href="{{ base_path }}onze-pups" class="navigation__link">{{ "Pups"|t }}</a>
                                      </li>
                                      <li class="navigation__item">
                                          <a href="#" class="navigation__link">{{ "Foto's"|t }}</a>
                                      </li>
                                      <li class="navigation__item">
                                          <a href="{{ base_path }}nieuws" class="navigation__link">{{ "Nieuws"|t }}</a>
                                      </li>
                                  </ul>
                              </div>

                              <div class="navigation__branding">
                                  <div class="navigation__site-avatar">
                                      <img src="{{ base_path ~ directory }}/images/marleen.jpg" alt="">
                                  </div>
                                  <div class="navigation__site-name">
                                      {{ site_name }}
                                  </div>
                              </div>

                              <div class="navigation__footer">
                                  <a href="#" class="navigation__footer-link">Privacy</a>
                              </div>

                          </nav>

                        <nav class="navigation__nav--desktop">
                            <div class="navigation__items--desktop">
                                <ul class="navigation__list">
                                    <li class="navigation__item--desktop">
                                        <a href="{{ path('<front>') }}" class="navigation__link--desktop">{{ "Home"|t }}</a>
                                    </li>
                                    <li class="navigation__item--desktop">
                                        <a href="{{ base_path }}onze-teven" class="navigation__link--desktop">{{ "Teven"|t }}</a>
                                    </li>
                                    <li class="navigation__item--desktop">
                                        <a href="{{ base_path }}onze-reuen" class="navigation__link--desktop">{{ "Reuen"|t }}</a>
                                    </li>
                                    <li class="navigation__item--desktop">
                                        <a href="{{ base_path }}onze-pups" class="navigation__link--desktop">{{ "Pups"|t }}</a>
                                    </li>
                                    <li class="navigation__item--desktop">
                                        <a href="#" class="navigation__link--desktop">{{ "Foto's"|t }}</a>
                                    </li>
                                    <li class="navigation__item--desktop">
                                <a href="{{ base_path }}nieuws" class="navigation__link--desktop">{{ "Nieuws"|t }}</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>

                    </div>