{#
/**
 * @file
 * Theme override to display a single page.
 */
#}

{% include directory ~ '/templates/partials/page/header.html.twig' %}

{# Title only for the news page #}

<div class="blog__page-title">
  <div class="container">
    <h1{{ title_attributes.addClass('heading-first') }}>{{ "Nieuws berichten"|t }}</h1>
  </div>    
</div>

<div class='container'>

  {{ page.pupsexpected }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}
  </main>

</div>

{% include directory ~ '/templates/partials/shared/footer.html.twig' %}